<!-- MockStateSelectorComponent Template -->

<div class="mock">
  <div class="toolbar">
    <div class="open" title="Show Mock States"
        [class.active-open]="AppState.Mock.ShowMockMenu"
        (click)="toggleMockMenu()">
      M
    </div>
    <div class="open" title="Show Debug AppState"
        [class.active-open]="AppState.Mock.ShowDebugState"
        (click)="toggleDebugState()">
      S
    </div>
    <div class="open" title="Show Timeline"
        [class.active-open]="AppState.Mock.ShowTimeline"
        (click)="toggleTimeline()">
      T
    </div>
  </div>

  <!--Timeline-->
  <ng-container *ngIf="AppState.Mock.ShowTimeline && Timeline">
    <pw-timeline-view [timeline]="Timeline" (selectEntry)="selectTimelineEntry($event)">
    </pw-timeline-view>
  </ng-container>

  <!--DebugState-->
  <div
      class="debug-state"
      *ngIf="AppState.Mock.ShowDebugState">{{ AppState | json }}</div>

  <div class="dropup"
      [class.show]="AppState.Mock.ShowMockMenu"
      (click)="toggleMockMenu(false)">
    <div class="title">Select State</div>
    <pw-mock-tree-view
        *ngFor="let f of mockStateFolders"
        [folder]="f"
        (select)="select($event)">
    </pw-mock-tree-view>
    <div class="title">Links</div>
    <a routerLink="/home">/home</a>
    <a routerLink="/login">/login</a>
    <a routerLink="/">/</a>
    <div class="btn close-modal" (click)="toggleMockMenu(false)">Close</div>
  </div>
</div>
