// AppTopStatusBarComponent Styles

// Gives access to all app wide variables such as for spacing,
// colors, and typography.
@import 'bootstrap/custom';

:host {
  display: block;
  border-bottom: 2px solid $brand-primary;
}

button {
  background: transparent;
  border: none;
}

.bar-container {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .4s ease-in;

  &.show {
    max-height: 100px;
  }
}

.settings-toggle-right {
  position: absolute;
  right: 0;
  top: 0;
}

.discover-status {
  display: inline-block;
}

.discover-tools {
  display: inline-block;

  .pods, .pod, .pea {
    display: inline-block;
    // height: 40px;
  }

}
