// AppTopStatusBarComponent Styles

// Gives access to all app wide variables such as for spacing,
// colors, and typography.
@import 'bootstrap/custom';

:host {
  display: block;
  border-bottom: 2px solid $brand-primary;
}

.bar-container {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height .4s ease-in;

  &.show {
    max-height: 100px;
  }
}
