<!-- AppTopStatusBarComponent Template -->

<div class="bar-container" [class.show]="AppState.Login.IsLoggedIn">
  <button class="menu-toggle" type="button"
      md-icon-button
      aria-label="Toggle navigation"
      (click)="onMenuClick()">
      <md-icon>menu</md-icon>
  </button>

  <ng-container *ngIf="AppState.Discover.ShowDiscover">
    <ng-container *ngIf="AppState.Discover.IsDiscovering">
      <div class="discover-tools">
        <button class="lock" md-icon-button
          aria-label="Lock joining group">
          <md-icon *ngIf=" AppState.Discover.IsPodLocked">lock_outline</md-icon>
          <md-icon *ngIf="!AppState.Discover.IsPodLocked">lock_open</md-icon>
        </button>
        <div class="pods">
          <div class="pod">
            <div class="pea">😇</div>
          </div>
        </div>
        <md-menu class="menu-right" #appMenu="mdMenu">
          <button md-menu-item> Set Availability </button>
          <button md-menu-item
              (click)="onStopDiscoverClick()">
            Stop Discover
          </button>
        </md-menu>

        <button class="settings-toggle-right" md-icon-button [mdMenuTriggerFor]="appMenu">
          <md-icon>settings</md-icon>
        </button>

      </div>
    </ng-container>
    <ng-container *ngIf="!AppState.Discover.IsDiscovering">
      <div class="discover-status">
        Setting Up Discover
      </div>
    </ng-container>
  </ng-container>

</div>

