// LobbyMessagesComponent Styles

// Gives access to all app wide variables such as for spacing,
// colors, and typography.
@import 'bootstrap/custom';

:host {
  display: block;
  // padding surrounding message items.
  padding: 8px;
  overflow: auto;
  pointer-events: all;
}

pw-item-group {
  // For performance purposes, only allow explicitly set pointer-events
  pointer-events: none;
}
