<!-- InputTimeComponent Template -->

<div class="flex-cont input-cont">
  <input type="number" min="1" max="12" [(ngModel)]="hours">
  <span>:</span>
  <input type="number" min="0" max="55" step="5" [(ngModel)]="minutes">
</div>

<form class="flex-cont" [formGroup]="radioform">
  <label class="time-a">
    <input type="radio" value="AM" formControlName="apradio">
    <span>AM</span>
  </label>
  <label class="time-a">
    <input type="radio" value="PM" formControlName="apradio">
    <span>PM</span>
  </label>
</form>
