// LobbyComponent Styles

// Gives access to all app wide variables such as for spacing,
// colors, and typography.
@import 'bootstrap/custom';

:host {
  display: block;
  padding: 4px;
  background: #b88ef9;
  overflow: auto;
}

.app-state {
  font-size: .6em;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 18px;
}
